{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/charts.js" defer></script>
    <script src="{% static 'EMF_dashboard/dashboard.js' %}" defer></script>
    <!-- <script src="{% static 'EMF_dashboard/date_picker.js' %}" defer></script> -->
{% endblock scripts %}

{% block content %}
<html>
<head>
<meta charset="utf-8">

<style>
.myDate{
	margin: 10px 0 10px 0;	
}
.col {
    float: left;
    text-align: center;
}
</style>
</head>
<body>


<div class="row">
    <div class="col">
        <h1>Pick a target date</h1>
        <h3 id="dashboard-name">{{name}}</h3>
        <div>Slug: <span id="dashboard-slug">{{slug}}</span></div>
        <br>
    </div>
</div>
<div>
    <label for="start">Start date:</label>

    <input type="date" id="date-picked" name="new-dashboard" class="form-control"
           min="2018-01-01" max="2018-12-31">
           <button id="submit-btn">Submit</button>
</div>
</body>
</html>
{% endblock content %}